@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
}

@layer components {
  .button {
    @apply flex items-center justify-center gap-2 px-4 py-2 font-semibold text-white shadow-lg cursor-pointer transition-base rounded-xl h-fit hover:shadow-md;
  }
  .button-primary {
    @apply bg-gradient-to-tr from-amber-600 to-amber-400 focus:ring-amber-400;
  }
  .button-secondary {
    @apply bg-gradient-to-tr from-colmenablue-600 to-colmenablue-400 focus:ring-colmenablue-400;
  }
  .button-terciary {
    @apply bg-gradient-to-tr from-green-600 to-green-400 focus:ring-green-400;
  }
  .transition-base {
    @apply transition-all duration-300 ease-in-out;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 999px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}