@import url('./calendar.css');

.blob1 {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  width: 760px;
  transform: translate(30%, -45%);
  filter: blur(50px);
  opacity: 0.4;
}

.blob2 {
  position: absolute;
  top: 50%;
  left: 0;
  height: auto;
  width: 1000px;
  transform: translate(-10%, -50%);
  filter: blur(55px);
  opacity: 0.25;
  z-index: 0;
}

.nav-link.logo {
  background: rgb(245, 158, 11);
  border-radius: 20px;
}

.nav-link.logo:hover {
  background: rgb(245, 158, 11);
  border-radius: 20px;
}

.nav-link .icon {
  color: rgb(107, 114, 128);
  transition: all 0.6s ease-in-out;
}

.dark .nav-link .icon {
  color: rgba(249, 250, 251);
}

.nav-link:hover .icon {
  color: rgb(245, 158, 11);
  animation: jump 0.6s ease-in-out;
}

@keyframes jump {
  20% {
    color: rgb(245, 158, 11);
    transform: translateY(2px) scaleX(0.9);
  }

  50% {
    color: rgb(245, 158, 11);
    transform: translateY(-4px) scaleX(1.05);
  }

  70% {
    color: rgb(245, 158, 11);
    transform: translateY(1px) scaleX(1.05);
  }

  100% {
    color: rgb(245, 158, 11);
    transform: translateY(0) scaleX(1);
  }
}

.home-enter-active,
.home-leave-active {
  transition: all 0.5s;
}

.home-enter,
.home-leave-active {
  opacity: 0;
  transform: translateX(-100%);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}


.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.line-clamp-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.line-clamp-6 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}
